@model IEnumerable<CreditTask2.Models.Journalist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<body style="margin-left:0px; font-size:small">
    <div class="jumbotron" style="margin-left:5px">
        <h2>Journalists List</h2>

        <p>
            @Html.ActionLink("Add New", "Create")
        </p>
        <table  id="example" class="table table-hover table-striped" style="border:double; font-size:small">
            <thead>
                <tr style="border-bottom:double;">
                    <th>

                        @Html.DisplayNameFor(model => model.journFname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JournLname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.journDOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.journContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.journEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.journCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Journalist_Image)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.journFname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JournLname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.journDOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.journContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.journEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.journCity)
                        </td>
                        <td>

                            <img class="img-thumbnail" src='@Url.Content("~/Uploads/" + item.Journalist_Image)' height="100" width="100" />

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.journId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.journId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.journId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
